.waveform-container {
    width: 100%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: hidden;
  }
  
  .waveform-canvas, .waveform {
    width: 100%;
    height: 100%;
  }